:root {
    --primary-color: #66fcf1;
    --secondary-color: #45a29e;
    --text-color: #c5c6c7;
    --card-bg: #1f2833;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: ;
    background: radial-gradient(ellipse at top, #000729 0%, #05080f 100%);
    min-height: 100vh;
    overflow-x: hidden;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 5%;
    background-color: transparent;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.logo {
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--primary-color);
}

.navbar nav ul {
    display: flex;
    list-style: none;
}

.navbar nav ul li {
    margin-left: 2.5rem;
}

.navbar nav ul li a {
    text-decoration: none;
    color: var(--text-color);
    font-weight: 500;
    transition: color 0.3s ease;
}

